body{
     background-color: brown(131, 5, 5);
    font-family: "lobo", system-ui;
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button{
    background-color: darkorange(255, 231, 123);
    font-family: "lobo", system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90;
}

img {
    max-width: 90;
}